.container {
    background-color: rgb(160, 5, 5);
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 5%;
    border: 3px solid black;
    border-radius: 50px;
    padding: 20px; /* Añade padding para el espacio alrededor del contenido */
    text-align: center;
}

.titulo {
    font-size: 36px;
    color: white;
    .container {
        background-color: rgb(160, 5, 5);
        margin-left: 25%;
        margin-right: 25%;
        margin-top: 5%;
        border: 3px solid black;
        border-radius: 50px;
        padding: 20px; /* Añade padding para el espacio alrededor del contenido */
        text-align: center;
    }
    
    .titulo {
        font-size: 36px;
        color: white;
        margin-bottom: 20px; /* Espacio entre el título y las imágenes */
    }
    
    .imagenes {
        display: flex;
        flex-wrap: wrap; /* Permite que las imágenes se distribuyan en varias filas si es necesario */
        justify-content: center; /* Centra las imágenes horizontalmente */
        list-style: none; /* Elimina los puntos de la lista */
        padding: 0;
    }
    
    
    a {
        display: block;
        transition: 0.5s;
    }
    
    li a:hover {
        transform: scale(0.8);
    }
    
    img {
        width: 100px;
        height: auto;
        border: 2px solid black;
        background-color: lightblue;
    }
    
    html {
        background-image: url(../imagenes/miticofondo.png);
        background-position: center center;
        background-size: cover;
        background-attachment: fixed;
        width: auto;
        height: auto;
    }
    
}

.imagenes {
    display: flex;
    flex-wrap: wrap; /* Permite que las imágenes se distribuyan en varias filas si es necesario */
    justify-content: center; /* Centra las imágenes horizontalmente */
    list-style: none; /* Elimina los puntos de la lista */
    padding: 0;
}

li {
    margin: 3px; /* Espacio entre las imágenes */
}

a {
    display: block;
    transition: 0.5s;
}

li a:hover {
    transform: scale(0.8);
}

img {
    width: 100px;
    height: auto;
    border: 2px solid black;
    background-color: lightblue;
}

html {
    background-image: url(../imagenes/fondomitico.webp);
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    width: auto;
    height: auto;
}
