ul {
    
    list-style-type: none;
    margin-left: 600px;
    margin-right: 600px;
    padding: opx;
    
   }
   li {
    float: left;
   }

   li a {
    display: block;
   color: rgb(244, 229, 229);
   text-align: center;
   padding: 14px 50px;
   text-decoration: none;
    }

    li a:hover {
        background-color: yellow
    }

    a{
        background-color: rgb(14, 10, 10);
        display: block;
        padding: 8px;
    }


header{
    text-align: center;
    font-size: 15px;
    color: white;
    padding: 10px 0;
}
html{
    background-image: url(https://preview.redd.it/4fqfwcdogin61.png?width=1080&crop=smart&auto=webp&s=6f4c8eb0beb3bad6f53e9100ce7cd3287d883675);
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    width: auto;
    height: auto;
}
main{
    background-color: black;
    color: white;
    margin-right: 400px;
    margin-left: 400px;
    margin-top: 200px;
}

h2{
    text-align: center;
    font-size: 40;
}
p{
    text-align: justify;
}

.contenedorimg{
    margin-left: auto;
    margin-right: auto;
    position: static;
    line-height: 25px;
    width:1040px ;
    margin: 0px 30px;
    padding: 0%;
    height: 400px;
    

}