ul {
    
    list-style-type: none;
    margin-left: 600px;
    margin-right: 600px;
    padding: opx;
    
   }
   li {
    float: left;
   }

   li a {
    display: block;
   color: rgb(244, 229, 229);
   text-align: center;
   padding: 14px 50px;
   text-decoration: none;
    }

    li a:hover {
        background-color: red
    }

    a{
        background-color: rgb(14, 10, 10);
        display: block;
        padding: 8px;
    }


header{
    text-align: center;
    font-size: 15px;
    color: white;
    padding: 10px 0;
}
html{
    background-image: url(https://i.pinimg.com/originals/17/85/34/1785347fe1ff67051360befee1726768.jpg);
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    width: auto;
    height: auto;
}
main{
    background-color: rgb(0, 157, 215);
    color: white;
    margin-right: 400px;
    margin-left: 400px;
    margin-top: 150px;
    border: 3px solid black;
}

h2{
    text-align: center;
    font-size: 40;
}
p{
    text-align: justify;
}

.contenedorimg{
    margin-left: auto;
    margin-right: auto;
    position: static;
    line-height: 25px;
    width:700px ;
    margin: 0px 190px;
    padding: 0%;
    height: 400px;
}

