.banner{
	font-family:verdana, sans-serif;
	overflow:hidden;
}

.bannerBorder{
	border:1px solid #b6b5bb;
	position: absolute;
	z-index: 201;
	overflow: hidden;
}

.bannerContent{
	position: absolute;
	z-index: 200;
}

#blueDesc{
	position: absolute;
	z-index: 2000;
    top: 1px;
    left: 1px;
	cursor: pointer;
}

#blueDesc span{
	display: none;
	float: left;
	font-size: 9px;
	color: #fff;
	max-width: 130px;
	padding-right: 5px;
	text-transform: uppercase;
}

#blueDesc img{
    width: 8px;
    float: right;
    height: 10px;
}

.creativeProductImage {
	float:left;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center center;
}
	
.creativeProductImageContainer {
	float:left;
	z-index:99;
}

.creativeProductBorderContainer {
    position: absolute;
    margin: 0;
    padding: 0;
    z-index: 1;
	pointer-events: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    /*border: 1px solid #eaeaea;*/
}

.creativeProductInfo {
	float:left;
}

.creativeProductText {
	width:100%; 
	text-align:center; 
	margin-top:15px; 
	float:left; 
	word-break: break-word; 
	font-size:11px;
}

.creativeGroupContainer{
	position:absolute;
}

.creativeProductOverlay{
	z-index:200;
}

.productFull{
	position:absolute;
	background-size: cover;
	top:0px;
	cursor:pointer;
}

.productFullText{
	position:absolute;
	width:100%;
	text-align:center;
	height:25px;
	top:10%;
	margin:10px;
}

.productFullPrice{
	position:absolute;
	text-align:center;
	width:100%;
	height:25px;
	top:30%;
	margin:10px;
}

.productFullButton{
	position:absolute;
	text-align:center;
	width:100px;
	height:25px;
	bottom:10%;
}


#allGroups{
	position:absolute;
}

.textContainer p {
	padding: 0px;
	box-sizing: border-box;
	width:100%;
	margin: 0px;
}

.creativeProductPrice {
	width:100%; 
	text-align:center; 
	float:left; 
	font-size:11px;
}

.creativeLogo{
	max-height: 100%;
	max-width: 100%;
	text-align: center;
	cursor:pointer;
}

.logoContainer {
	overflow: hidden;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: contain;
}
.logoContainer img {
	max-height: 100%;
	max-width: 100%;
}

.creativeProductButtonContainer{
	width:100%;
	float:left;
	text-align:center;
}

.creativeProductButton{
	width:100%; 
	text-align:center; 
	float:left;
	font-size:11px; 
	display: -webkit-flex;
	display: -moz-flexbox;
	display: -ms-flexbox;
	display: flex;
	-webkit-align-items: center;
	-moz-flex-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-justify-content: space-around;
	-moz-flex-pack: distribute;
	-ms-flex-pack: distribute;
	justify-content: space-around;
	-webkit-flex-grow: 0;
	-moz-flex-positive: 0;
	-ms-flex-positive: 0;
	flex-grow: 0;
	-moz-flex-negative: 0;
	-webkit-flex-shrink: 0;
	-ms-flex-negative: 0;
	flex-shrink: 0;
	box-sizing: border-box;
}
   
.creativeProductButtonLabel{
	/*font-weight: normal;*/
}


.creativeProduct{
	float:left;
	max-height: 100%;
	/* background-color: #fff; */
	position: relative;
	overflow: hidden;
	cursor:pointer;
}

/* Custom Class for Tags */
.tagWhiteRightTop{
	position:absolute;
	top:3px;right:3px;
	padding:5px;background-color:rgba(255,255,255,0.8);
	font-size:10px;color:#000;border-radius:3px;font-weight:bold
}

.tagWhiteLeftTop{
	position:absolute;
	top:3px;left:3px;
	padding:5px;background-color:rgba(255,255,255,0.8);
	font-size:10px;color:#000;border-radius:3px;font-weight:bold
}

.tagWhiteRightBottom{
	position:absolute;
	bottom:3px;right:3px;
	padding:5px;background-color:rgba(255,255,255,0.8);
	font-size:10px;color:#000;border-radius:3px;font-weight:bold
}

.tagWhiteLeftBottom{
	position:absolute;
	bottom:3px;left:3px;
	padding:5px;background-color:rgba(255,255,255,0.8);
	font-size:10px;color:#000;border-radius:3px;font-weight:bold
}

.tagBlackRightTop{
	position:absolute;
	top:3px;right:3px;
	padding:5px;background-color:rgba(0,0,0,0.8);
	font-size:10px;color:#fff;border-radius:3px;font-weight:bold
}

.tagBlackLeftTop{
	position:absolute;
	top:3px;left:3px;
	padding:5px;background-color:rgba(0,0,0,0.8);
	font-size:10px;color:#fff;border-radius:3px;font-weight:bold
}

.tagBlackRightBottom{
	position:absolute;
	bottom:3px;right:3px;
	padding:5px;background-color:rgba(0,0,0,0.8);
	font-size:10px;color:#fff;border-radius:3px;font-weight:bold
}

.tagBlackLeftBottom{
	position:absolute;
	bottom:3px;left:3px;
	padding:5px;background-color:rgba(0,0,0,0.8);
	font-size:10px;color:#fff;border-radius:3px;font-weight:bold
}

/* Effects */
.flip-card {
  background-color: transparent;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

.flip-card-inner {
  position: relative;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.flip-card-front {
  
}

.flip-card-back {
  transform: rotateY(180deg);
}

@-webkit-keyframes BACKUPULSE-DIV {
	from {
		opacity:1;
	}
	to { 
		opacity:0.5;
	}
}

@keyframes BACKUPULSE-DIV {
	from {
		opacity:1;
	}
	to { 
		opacity:0.5;
	}
}

.backpulse, .backpulse:hover, .backpulse:focus, .backpulse:active{
	--backpulse-font-weight: normal;
	font-weight: var(--backpulse-font-weight);
    -webkit-animation-name: BACKUPULSE-DIV;
	animation-name: BACKUPULSE-DIV;
	-webkit-animation-duration: 500ms;
	animation-duration: 500ms;
	-webkit-animation-timing-function: linear;
	animation-timing-function: linear;
	-webkit-animation-iteration-count: infinite;
	animation-iteration-count: infinite;
	-webkit-animation-direction: alternate-reverse;
	animation-direction: alternate-reverse;
}



@-webkit-keyframes KF-GROW {
  to {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
}
@keyframes KF-GROW {
  to {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
}
.grow {
  display: inline-block;
  vertical-align: middle; 
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}

.grow-on, .grow:hover, .grow:focus, .grow:active {
  --grow-font-weight: normal;
  font-weight: var(--grow-font-weight);
  -webkit-animation-name: KF-GROW;
  animation-name: KF-GROW;
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
}

@-webkit-keyframes BACKUPULSE-GROW-DIV {
	from {
		opacity:1;
	}
	to { 
		opacity:0.5;
		-webkit-transform: scale(0.9);
		transform: scale(0.9);
	}
}

@keyframes BACKUPULSE-GROW-DIV {
	from {
		opacity:1;
	}
	to { 
		opacity:0.5;
		-webkit-transform: scale(0.9);
		transform: scale(0.9);
	}
}

.backpulse-grow, .backpulse-grow:hover, .backpulse-grow:focus, .backpulse-grow:active{
	--backpulse-font-weight: normal;
	font-weight: var(--backpulse-font-weight);
    -webkit-animation-name: BACKUPULSE-GROW-DIV;
	animation-name: BACKUPULSE-GROW-DIV;
	-webkit-animation-duration: 400ms;
	animation-duration: 400ms;
	-webkit-animation-timing-function: linear;
	animation-timing-function: linear;
	-webkit-animation-iteration-count: infinite;
	animation-iteration-count: infinite;
	-webkit-animation-direction: alternate-reverse;
	animation-direction: alternate-reverse;
	display: inline-block;
	vertical-align: middle; 
	-webkit-transform: perspective(1px) translateZ(0);
	transform: perspective(1px) translateZ(0);
	box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}

@-webkit-keyframes KF-SHINE {
  100% {
    transform: rotateZ(60deg) translate(1em, -9em);
  }
}

@keyframes KF-SHINE {
  100% {
    transform: rotateZ(60deg) translate(1em, -9em);
  }
}

.shine::after {
  content: '';
  position: absolute;
  top: -50%;
  right: -50%;
  bottom: -50%;
  left: -50%;
  background: linear-gradient(to bottom, rgba(229, 172, 142, 0), rgba(255,255,255,0.5) 50%, rgba(229, 172, 142, 0));
  transform: rotateZ(60deg) translate(-5em, 7.5em);
}
.shine {
  position: relative;
  overflow: hidden;
}
.shine-on::after{
  -webkit-animation: KF-SHINE 1s forwards 0s 3;
  animation: KF-SHINE 1s forwards 0s 3;
}

@-webkit-keyframes KF-OUTLINE {
	from {
		top: -16px;
		right: -16px;
		bottom: -16px;
		left: -16px;
		opacity: 0;
	}
	to { 
		top: -8px;
		right: -8px;
		bottom: -8px;
		left: -8px;
		opacity: 1;
	}
}

@keyframes KF-OUTLINE {
	from {
		top: -16px;
		right: -16px;
		bottom: -16px;
		left: -16px;
		opacity: 0;
	}
	to { 
		top: -8px;
		right: -8px;
		bottom: -8px;
		left: -8px;
		opacity: 1;
	}
}

.outline-in {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
}
.outline-in:before {
  pointer-events: none;
  content: '';
  position: absolute;
  top: -16px;
  right: -16px;
  bottom: -16px;
  left: -16px;
  opacity: 0;
  border: #e1e1e1 solid 3px;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: top, right, bottom, left;
  transition-property: top, right, bottom, left;
}
.outline-in-on:before{
  -webkit-animation: KF-OUTLINE 500ms forwards 0s 3;
  animation: KF-OUTLINE 500ms forwards 0s 3;
}

@-webkit-keyframes KF-BORDER-FADE {
	from {
		box-shadow: 0 0 1px rgba(0, 0, 0, 0);
		box-shadow: inset 0 0 0 var(--border-fade-size) var(--border-fade-bordercolor-off), 0 0 1px rgba(0, 0, 0, 0);
	}
	to { 
		box-shadow: inset 0 0 0 var(--border-fade-size) var(--border-fade-bordercolor-on), 0 0 1px rgba(0, 0, 0, 0);
	} 
}

@keyframes KF-BORDER-FADE {
	from {
		box-shadow: 0 0 1px rgba(0, 0, 0, 0);
		box-shadow: inset 0 0 0 var(--border-fade-size) var(--border-fade-bordercolor-off), 0 0 1px rgba(0, 0, 0, 0);
	}
	to { 
		box-shadow: inset 0 0 0 var(--border-fade-size) var(--border-fade-bordercolor-on), 0 0 1px rgba(0, 0, 0, 0);
	}
}

.border-fade {
  --border-fade-bordercolor-off:#e1e1e1;
  --border-fade-bordercolor-on:#2098d1;
  --border-fade-size:4px;
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  -webkit-transition-property: box-shadow;
  transition-property: box-shadow;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  box-shadow: inset 0 0 0 var(--border-fade-size) var(--border-fade-bordercolor-off), 0 0 1px rgba(0, 0, 0, 0);
  
}
.border-fade-on{
	-webkit-animation: KF-BORDER-FADE 500ms forwards 0s 3;
    animation: KF-BORDER-FADE 1s forwards 0s 3;
	
}

@-webkit-keyframes KF-RIPPLE-OUT {
	100% {
		top: -12px;
		right: -12px;
		bottom: -12px;
		left: -12px;
		opacity: 0;
	  }
}

@keyframes KF-RIPPLE-OUT {
	100% {
    top: -12px;
    right: -12px;
    bottom: -12px;
    left: -12px;
    opacity: 0;
  }
}

.ripple-out {
  --ripple-out-border: #e1e1e1 solid 6px;
  --ripple-out-border-color: #e1e1e1;
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
}

.ripple-out:before {
  content: '';
  position: absolute;
  border: var(--ripple-out-border);
  border-color: var(--ripple-out-border-color);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  z-index:100;
  
}
.ripple-out-on:before{
	-webkit-animation: KF-RIPPLE-OUT 500ms forwards;
    animation: KF-RIPPLE-OUT 1s forwards 0s 3;
	z-index:100;
	
}

@-webkit-keyframes KF-RIPPLE-IN {
	100% {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 1;
	  }
}

@keyframes KF-RIPPLE-IN {
	100% {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 1;
  }
}

.ripple-in{
  --ripple-in-border: #e1e1e1 solid 6px;
  --ripple-in-border-color: #e1e1e1;
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
}

.ripple-in:before {
  border: var(--ripple-in-border);
  border-color: var(--ripple-in-border-color);
  content: '';
  position: absolute;
  top: -12px;
  right: -12px;
  bottom: -12px;
  left: -12px;
  opacity: 0;
  -webkit-animation-duration: 1s;
  animation-duration: 1s; 
}
.ripple-in-on:before{
	-webkit-animation: KF-RIPPLE-IN 500ms forwards 0s 3;
    animation: KF-RIPPLE-IN 1s forwards 0s 3;
	z-index:100;
}

.border-active{
  --border-active-border: #e1e1e1 solid 6px;
  --border-active-border-color: #e1e1e1;
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
}

.border-active:before {
  border: var(--border-active-border);
  border-color: var(--border-active-border-color);
  content: '';
  position: absolute;
  opacity: 0;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  
}
.border-active-on:before{
	opacity: 1;
}



@-webkit-keyframes MOVE-BG {
	from {
		background-position:var(--animateBg-initial-position-x) var(--animateBg-initial-position-y);
	}
	to { 
		background-position:var(--animateBg-final-position-x) var(--animateBg-final-position-y);
	}
}

@keyframes MOVE-BG {
	from {
		background-position:var(--animateBg-initial-position-x) var(--animateBg-initial-position-y);
	}
	to { 
		background-position:var(--animateBg-final-position-x) var(--animateBg-final-position-y);
	}
}

.animateBg{
	--animateBg-initial-position-y:-533px;
	--animateBg-initial-position-x:0px;
	--animateBg-final-position-y:0px;
	--animateBg-final-position-x:0px;
	--animateBg-animation-duration: 10s;
	--animateBg-animation-timing-function: linear;
    -webkit-animation-name: MOVE-BG;
	animation-name: MOVE-BG;
	-webkit-animation-duration: var(--animateBg-animation-duration);
	animation-duration: var(--animateBg-animation-duration);
	-webkit-animation-timing-function: var(--animateBg-animation-timing-function);
	animation-timing-function: var(--animateBg-animation-timing-function);
	-webkit-animation-iteration-count: infinite;
	animation-iteration-count: infinite;
	-webkit-animation-direction: alternate-reverse;
	animation-direction: alternate-reverse;
}